.wrapPedidos {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    box-shadow: -1px -1px 35px -4px rgba(0,0,0,0.75);
}

a {
    position: fixed;
    top: 2%;
    right: 2%;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}